/*General*/

main {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.navCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    background-color: #00000050;
    border-radius: 50px;
    border-style: dotted;
}

.navColItem {
    width: 90%;
}

.navColItem:hover {
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    height: 120px;
}

.navBarItem {
    height: 90%;
}

.navBarItem:hover {
    height: 100%;
}

.cuerpo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/*Fonts*/

@font-face {
    font-family: "billo";
    src: url(assets/fonts/BILLO___.TTF);
}

@font-face {
    font-family: "magazine-letter";
    src: url(assets/fonts/MagazineLetterByBrntlbrnl-Regular.ttf);
}

@font-face {
    font-family: "neon-rave";
    src: url(assets/fonts/Neon\ Rave\ Italic.ttf);
}

@font-face {
    font-family: "iceland";
    src: url(assets/fonts/Iceland-Regular.ttf);
}

@font-face {
    font-family: "inked-god";
    src: url(assets/fonts/iNked\ God.ttf);
}

@font-face {
    font-family: "fighting-spirit";
    src: url(assets/fonts/Fighting\ Spirit\ 2\ bold.otf);
}


/*index.html*/

.fondoInicio {
    background-image: url(assets/img/muro.jpg);
    background-size: cover;
}

.headerInicio {
    height: 150px;
    background-image: url(assets/img/graffiti1-removebg-preview.png);
    background-size: 100% 170%;
    background-position: center;
    background-repeat: no-repeat;
}

.tituloPagina {
    font-family: Honk;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.marqueeInicio {
    background-image: url(assets/img/Texturelabs_Grunge_264XL.jpg);
    border-style: dashed;
    border-width: 3px;
    font-family: 'BBH Bartle', sans-serif;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.navColItemTag {
    font-family: Honk;
    font-size: 30px;
    margin-top: -15px;
}

.bienvenidoInicio {
    font-family: "fighting-spirit";
    font-size: 40px;
    letter-spacing: 10px;
    color: white;
    text-shadow: black 3px 3px 2px;
    text-align: center;
    animation-name: bienvenidoAnimacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bienvenidoAnimacion {
    0% {
        color: white;
        text-shadow: black 3px 3px 2px;
    }

    50% {
        color: yellow;
        text-shadow: red 5px 5px 4px;
    }

    100% {
        color: white;
        text-shadow: black 3px 3px 2px;
    }
}

.descItemChart {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.descItemCell {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2;
}

.descItemCellR {
    display: flex;
    align-items: center;
    grid-column: 2 / 4;
    flex-direction: row-reverse;
}

.descItemImg {
    width: 30%;
    border-radius: 100%;
    box-shadow: blueviolet 5px 5px 10px, rgb(176, 247, 250) -5px 0px 10px inset;
}

.descItemImgx {
    width: 30%;
}

.descItemDesc {
    font-family: "inked-god";
    font-size: 25px;
    margin-left: 20px;
}

.descItemDescR {
    font-family: "inked-god";
    font-size: 25px;
    text-align: right;
    margin-left: 20px;
}


/*news.html*/



.fondoNews {
    background-image: url(assets/img/cielo.jpg);
    background-size: cover;
}

.tituloNews {
    font-family: "billo";
    font-size: 90px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.newsCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin-top: 100px;
    background-color: #00000050;
    border-radius: 50px;
    border-style: dotted;
    position: sticky;
    top: 30px;
}

.newsColItem {
    font-family: "iceland";
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

.newsColItem:hover {
    scale: 1.1;
}

.subtituloNews {
    font-family: "billo";
    font-size: 60px;
    margin: auto;
    padding-left: 40px;
    padding-bottom: 20px;
}

.noticia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0, 255, 191, 0.425));
    border-top: dotted white 5px;
    border-bottom: dotted white 5px;
    border-right: dotted white 5px;
    border-radius: 20px;
}

.noticiaContenido {
    width: 80%;
    font-family: "iceland";
    font-size: 20px;
}

h3 {
    font-style: italic;
    color: rgb(88, 88, 88);
    margin-top: -20px;
}

.noticiaCuerpo {
    margin-left: 5%;
    width: 80%;
    text-align: justify;
}

.noticiaImg {
    width: 20%;
    margin-right: 5%;
}

.imgNoticia {
    width: 100%;
    border-style: solid;
    border-color: black;
}

.imgNoticia:hover {
    scale: 1.1;
}

.footerNews {
    background-image: url(assets/img/ola.gif);
    background-size: contain;
    height: 100px;
}

/*gallery.html*/

.fondoGallery {
    background-image: url(assets/img/grassy.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.tituloGallery {
    font-family: "magazine-letter";
    font-size: 90px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.fotos {
    border-style: inset;
    border-color: rgb(31, 9, 9);
}

.spacerGallery1 {
    width: 50px;
    height: 20px;
}

.spacerGallery2 {
    width: 50px;
    height: 200px;
}

#playa {
    background-image: url(assets/img/gallery/playa.JPG);
    background-size: cover;
    background-position: 00;
    width: 400px;
    height: 200px;
}

#pillado {
    background-image: url(assets/img/gallery/pillado.JPG);
    background-size: cover;
    background-position: right;
    width: 250px;
    height: 200px;
}

#perroCosta {
    background-image: url(assets/img/gallery/perroCosta.JPG);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
}

#tornilloPerlas {
    background-image: url(assets/img/gallery/tornilloPerlas.JPG);
    background-size: cover;
    background-position: 00;
    height: 200px;
}

#gato {
    background-image: url(assets/img/gallery/gato.JPG);
    background-size: cover;
    background-position: 00;
    width: 300px;
    height: 200px;
}

#blurry {
    background-image: url(assets/img/gallery/blurry.JPG);
    background-size: cover;
}

#otisEsfinge {
    background-image: url(assets/img/gallery/otisEsfinge.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#montMatre {
    background-image: url(assets/img/gallery/montMatre.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#metro {
    background-image: url(assets/img/gallery/metro.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#payasitos {
    background-image: url(assets/img/gallery/payasitos.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}


/*cats.html*/

.fondoCats {
    background-image: url(assets/img/gato\ ponderoso.jpg);
    background-size: cover;
    background-position: center;
}

.tituloCats {
    font-family: "neon-rave";
    font-size: 90px;
    color: #000000;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    animation-name: tituloCatsAnimacion;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes tituloCatsAnimacion {
    0% {
        transform: scale(1);
        color: royalblue;
    }

    10% {
        color: darkorchid;
    }

    20% {
        color: rgb(21, 199, 30);
    }

    30% {
        color: rgb(50, 204, 201);
    }

    40% {
        color: orange;
    }

    50% {
        transform: scale(1.1);
        color: yellow;
    }

    60% {
        color: rgb(255, 0, 0);
    }

    70% {
        color: rgb(255, 0, 140);
    }

    80% {
        color: rgb(91, 255, 97);
    }

    90% {
        color: rgb(173, 92, 170);
    }

    100% {
        transform: scale(1);
        color: royalblue;
    }
}

.marqueeCats {
    background-image: url(assets/img/rainbow-yeye.gif);
    border-style: dashed;
    border-width: 3px;
    font-family: 'BBH Bartle', sans-serif;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.tablaCats {
    width: 100%;
}

.celdaCats {
    width: 20%;
}

.imgGato {
    width: 100%;
}

.upnd {
    animation-name: upndAnimacion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes upndAnimacion {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.lnr {
    animation-name: lnrAnimacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes lnrAnimacion {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}