/*General*/

main{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar{
    width: 200px;
}

.navItem{
    width: 100%;
}

.cuerpo{
    width: 70%;
    height: 1000px;
}

/*index.html*/

.fondoInicio{
    background-image: url(assets/img/muro.jpg);
    background-size: cover;
}

.headerInicio{
    height: 150px;
    background-image: url(assets/img/graffiti1-removebg-preview.png);
    background-size: 100% 170%;
    background-position: center;
    background-repeat: no-repeat;
}

.tituloPagina{
    font-family: Honk;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 40px;
}

.marqueeInicio{
    background-image: url(assets/img/Texturelabs_Grunge_264XL.jpg);
    border-style:dashed;
    border-width: 3px;
    font-family: 'BBH Bartle', sans-serif;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

/*news.html*/

@font-face {
    font-family: "billo";
    src: url(assets/fonts/BILLO___.TTF);
}

.fondoNews{
    background-image: url(assets/img/cielo.jpg);
    background-size: cover;
}

.tituloNews{
    font-family: "billo";
    font-size: 90px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 40px;
}

.noticia{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(0, 255, 0, 0), rgba(0, 255, 191, 0.425));
    border-top: dotted white 5px;
    border-bottom: dotted white 5px;
    border-right: dotted white 5px;
    border-radius: 20px;
}

.noticiaContenido{
    width: 80%;
}

.noticiaImg{
    width: 20%;
}

.imgNoticia{
    width: 100%;
}

.footerNews{
    background-image: url(assets/img/ola.gif);
    background-size: contain;
    height: 100px;
}